<!--<div>-->

<!--    <h1>-->
<!--        Python pizza-->
<!--    </h1>-->

<!--    <form action="/">-->
<!--        <button style="position: absolute; right: 120px; top: 35px;">-->
<!--            <basket>-->
<!--                Главная-->
<!--            </basket>-->
<!--        </button>-->
<!--    </form>-->

<!--    <form action="basket-page">-->
<!--        <button style="position: absolute; right: 20px; top: 35px;">-->
<!--            <basket>-->
<!--                Корзина-->
<!--            </basket>-->
<!--        </button>-->
<!--    </form>-->

<!--</div>-->
<div>
    <style>
        headers {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
        }
        header {
            padding: 10px;
            margin: 10px;
        }
    </style>

    <headers>
        <header style="width: 500px">
            <h1>
                Python pizza v1
            </h1>
        </header>

        <header style="width: 300px;">
            <text>
                Пн-Вс с 7.00 до 23.00 <br>
                Тел.: 8-800-xxx-xx-xx
            </text>
        </header>

        <header>
            <form action="/">
                <button style="margin: 10px;
            padding: 5px;
            border-radius: 20px;">
                    <basket>
                        Главная
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="cart">
                <button style="margin: 10px;
            padding: 5px;
            border-radius: 20px;">
                    <basket>
                        Корзина<br>{{ cart.get_total_price }}p
                    </basket>
                </button>
            </form>
        </header>

    </headers>
</div>
