<div>
    <style>
        messegers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        messeger {
            width:  30px;
            height: 30px;
            margin: 10px;
        }
    </style>
    <messegers>
<!--Vkontakte-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://img-premium.flaticon.com/png/512/2111/2111667.png?token=exp=1621514466~hmac=7a18f6e00621e33ccfd52dba6a48a8a9"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Facebook-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Facebook.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Google-plus-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Google-plus.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Instagram-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Instagram.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Odnoclasniki-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Odnoclasniki.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
    </messegers>
</div>