<div>
    <style>
        messegers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        messeger {
            width:  30px;
            height: 30px;
            margin: 10px;
        }
    </style>
    <messegers>
<!--Vkontakte-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Vk.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Facebook-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Facebook.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Google-plus-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Google-plus.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Instagram-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Instagram.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
<!--Odnoclasniki-->
        <messeger>
            <center>
                <a href="">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Odnoclasniki.png?raw=true"
                         width="30px" height="30px" alt="Vk">
                </a>
            </center>
        </messeger>
    </messegers>
</div>